.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.Home-header {
  background-color: maroon;
  font-size: 20px;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}
.Home-header {
  text-align: center;
  font-family: "Lobster", cursive;
  border: 20px black;

}
p {
  text-align: center;
  background-color: maroon;
  color: white;
  font-family: 'Abril Fatface', cursive;
  font-size: 20px;
}
hr {
  background-color: white;
}
.card1 {
  border-color: white;
}
#comp2 {
  padding: 20px;
  border-color: black;
  border: 10px;
}


